@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.button {
  background-color: transparent;
  border-radius: 3px;
  outline: none;
  font-family: inherit;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.15;
  text-decoration: none;
  cursor: pointer;
  color: var(--black-400);
  transition: var(--fade);

  /* &:hover {
    background-color: var(--black-075);
  }

  &:focus {
    box-shadow: 0 0 0 2.5px rgba(36, 39, 41, 0.1);
  }

  &:active {
    background: var(--black-050);
  } */
}

.primary {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  height: 33px;
  width: 85px;
  letter-spacing: 0.02em;
  color: #6360FF;
  border: 0.4px solid white;
  border-radius: 4px;
  padding: 6px 16px 8px 16px;
}

.pri{
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  height: 33px;
  width: 85px;
  letter-spacing: 0.02em;
  color: #6360FF;
  border: 0.4px solid white;
  border-radius: 4px;
  padding: 6px 16px 8px 16px;
}

.secondary {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  height: 33px;
  width: 85px;
  letter-spacing: 0.02em;
  color: #78FFBE;
  border: 0.4px solid white;
  border-radius: 4px;
  padding: 6px 16px 8px 16px;
}

.full {
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.isLoading {
  padding-left: 2.2em;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    opacity: 0.3;
    left: 0.5em;
    width: 1em;
    height: 1.5em;
    border-width: 2px;
    border-style: solid;
    border-color: currentColor;
    border-radius: 50%;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0.5em;
    width: 1em;
    height: 1em;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-left-color: currentColor;
    border-radius: 50%;
    animation: spin 0.9s infinite cubic-bezier(0.5, 0.1, 0.5, 0.9);
    filter: invert(0);
    transform-origin: 50% 50% 1px;
  }

  @keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
}
