@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main{
  text-align: center;
  color: white;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  margin-top: -20px;
  margin-bottom: 10px;
}

.submitButton {
  margin-top: 10px;
  border: 1px solid white;
  background-color: white;
  color: blue;
  display: flex;
  margin-left: 300px;
  padding: 8px 16px 8px 16px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
}

.form {
  min-width: 300px;
}

.status {
  color: var(--red-500);
  margin-top: 12px;
  font-size: 12px;
  text-align: center;
}