@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {
  background-color: #050119;
  border : 1px solid white;
  padding-right:20px;
  padding-left: 20px;
  /* margin-right: -42px; */
}

.tagContainer {
  top: 74px;
  display: flex;
  flex-direction: column;
  padding-left: 25px;

  h2 {
    font-family: 'Playfair Display', serif;
    color: #01ff85;
    font-size: 22px;
    font-weight: 900;
    margin-bottom: 1em;
  }
}

.popularTags {
  display: grid;
  grid-template-columns: auto auto;
}
