@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {
  padding: 24px 12px 24px 24px;
  color: white;
}

.borderBottom {
  border-bottom: 1px solid var(--black-100);
}

.title {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  word-break: break-word;

  h1 {
    font-size: 27px;
    max-width: 950px;
  }
}

.summary {
  margin-top: 20px;
  font-size: 15px;
  max-width: 630px;
}

.buttonContainer {
  display: flex;
  margin-left: 500px;
  justify-content: end;
  min-width: fit-content;
  height: 33px;
  width: 85px;
  border: 0.4px solid white;
  background-color: white;
  border-radius: 4px;
  padding: 6px 16px 8px 16px;
  button {
    flex-shrink: 0;
    @media (max-width: 1200px) {
      margin-bottom: 10px;
    }
  }
}
